aiohttp
alphabet_detector
asyncio

beautifulsoup4
bleach
bs4

cachetools
cfscrape

envparse

feedparser
filetype
fontTools
future

geopy
git+https://github.com/starry69/python-markdown2.git
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

hachoir
html2text
humanize

jikanpy

lk21
lxml

nekos.py
numpy

oauth2client
olefile

Pillow>=4.2.0
pretty_errors
psutil
psycopg2-binary
PyYAML>5.0
python-telegram-bot==13.11
pynewtonmath
pyrate-limiter
pyrogram
pyshorteners
python-magic

regex
requests

spongemock

telegraph
telethon
tenacity
tgcrypto
tldextract
