alphabet_detector
asyncio

beautifulsoup4
bing_image_downloader
bleach
bs4

cachetools
cfscrape
coffeehouse
countryinfo
CurrencyConverter

envparse
emoji
emoji-country-flag

faker
feedparser
filetype
fontTools
future

geopy
git+https://github.com/starry69/python-markdown2.git
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==3.1.0a0
gtts

hachoir
html2text
humanize

jikanpy

lk21
lxml

nekos.py
numpy

oauth2client
olefile

Pillow>=4.2.0
pretty_errors
psutil
psycopg2-binary
PyYAML>5.0
python-telegram-bot==13.11
PyDictionary
pynewtonmath
pyrate-limiter
pyrogram
pyshorteners
python-magic

regex
requests

search_engine_parser
speedtest-cli
spongemock
sqlalchemy==1.3.24

telegraph
telethon
tenacity
tgcrypto
tldextract

ujson

wget

zalgo-text
